<p id="notice"><%= notice %></p>

<h1 class="text-center pb-3">Vinos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cepas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td><%= wine.name %></td>
        <td><%= wine.strains.order(:name).map(&:name).join(', ') %></td>
        <td><%= link_to 'Show', wine %></td>
        <td><%= link_to 'Edit', edit_wine_path(wine) %></td>
        <td><%= link_to 'Destroy', wine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo vino', new_wine_path %>
