<!DOCTYPE html>
<html>
  <head>
    <title>Cepas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  

   <% if current_user %>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top ">

    <p class="control">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Vinos',  wines_path, class: "button text-white" %>
        </li>
      </ul>
      </p>
      
      <p class="control">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Cepas',  strains_path, class: "button text-white" %>
        </li>
      </ul>
      </p>

      <p class="control">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Revistas',  magazines_path, class: "button text-white" %>
        </li>
      </ul>
      </p>

      <p class="control">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Enólogos',  oenologists_path, class: "button text-white" %>
        </li>
      </ul>
      </p>


      <p class="control">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: "button text-white"%>
        </li>
      </ul>
      </p>

    
    </nav>

    <% else %>

      <%= link_to 'Registrarse', new_user_registration_path%>

      <%= link_to 'Iniciar sesión', new_user_session_path%> 
  <% end %>
  <%= yield %>
  </body>
</html>
